body{
    margin: 0;
}
h1{
    margin: 0;
    font-size: 40px;
    margin-left: 10px;
}

.header{
    position: sticky;
    top: 0;
    font-weight: bold;
    color: white;
    background-image: url(../images/background.jpg);
    background-size: cover;
    padding: 20px 0 22px 0;
    padding-right: 205.5px;
}
.menu_container{
    background-color: black;
    display: flex;
}


.container{
    max-width: 75%;
    margin: 0 auto;
}
.debut{
    max-width: 35%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.debut p {
    font-size: 20px;
}

.menu{
    font-size: 25px;
    padding-top: 15px;
}


.menu a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}


.menu a:hover{
    transition: color 0.5s;
    color: cadetblue;
}

main{
    margin: 0 205.55px;
}

main p{
    text-align: justify;
    font-size: 18px;
}
 
.footer{
    padding: 40px 205.55px;
    background-color: black;
    color: white;
    margin-top: 2rem;
}

.debut_img{
    height: 336px;
}
.debut_img img{
    height: 100%;
    
}
.text_right{
    text-align: right;
}
.btn{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.btn:hover{
    transition: color 0.5s;
    color:cadetblue;
    border-color: cadetblue;
}


.highlight{
    font-weight: normal;
}
.h2center{
    text-align: center;   
    font-size: 30px     ; 
}